.rhap_container {
  background-color: #581C87!important;
}

.rhap_progress-bar  {
  background-color: #fff;
}

.rhap_repeat-button  {
 color: #fff!important;
}

.rhap_time {
 color: #fff!important;
}

.rhap_main-controls-button {
 color: #fff!important;
}
.rhap_volume-button {
 color: #fff
}

.rhap_volume-bar {
 background-color: #fff;
}

.rhap_volume-indicator {
 background-color: #4ADE80;
}

.rhap_progress-indicator {
 background-color: #4ADE80;
}